body{
    font-size: 16px;
    margin: 0 auto;
    max-width: 1200px;
}

hr{
    height: 0.5px;
}

label{
    text-align: right;
}

.right{
    display: flex;
    justify-content: right;
    align-items: right;
}

td{
    width: 12.5%;
}